{{> header}}
{{> navbar}}  
    <ul>
      <li>Nombre: Leesly Falcón Martínez</li>
      <li>Grado: 4to semestre</li> 
      <li>Grupo: P (Programación)</li>
    </ul>
    <br>
    <img src="imagenes/creador.gif" width="500" lang="500">
    <br>
{{> footer}}