{{> header}}
{{> navbar}}    
    <h1>Edvard Munch</h1>
       <div>
        <h3>Un poco de su historia:</h3>
        <p>Edvard Munch nació el 12 de diciembre de 1863 en Løten, Noruega.
            Munch murió el 23 de enero de 1944 en su hacienda autosuficiente de Ekely, en Skøyen, a las afueras de Oslo. Lo hizo tal y como había vivido: completamente solo.
            fue un pintor y grabador noruego. Sus evocativas obras sobre la angustia influyeron profundamente en el expresionismo alemán de comienzos del siglo XX. 
            El pintor decía de sí mismo que, del mismo modo que Leonardo da Vinci había estudiado la anatomía humana y diseccionado cuerpos, él intentaba diseccionar almas. Por ello, los temas más frecuentes en sus obras fueron los relacionados con los sentimientos y las tragedias humanas, como la soledad (Melancolía), la angustia (El grito), la muerte (Muerte de un bohemio) y el erotismo (Amantes, El beso). Se le considera precursor del expresionismo, por la fuerte expresividad de los rostros y las actitudes de sus figuras, además del mejor pintor noruego de todos los tiempos. </p>
        <br>
          <h3>Algunas de sus obras:</h3>        
        <br>
        <dt>El Grito</dt>
        <img src="imagenes/elgrito.png" width="200" lang="400">
        <dt>Ansiedad</dt>
        <img src="imagenes/ansiedad.jpeg" width="200" lang="400">
        <dt>Celos</dt>
        <img src="imagenes/celos.jpg" width="200" lang="400">
        <dt>El Beso</dt>
        <img src="imagenes/elbeso.jpg" width="200" lang="400">
        <dt>Rue Lafayette</dt>
        <img src="imagenes/lafayette.jpg" width="200" lang="400">    
       </div>  
        <div>
{{> footer}}

       