{{> header}}
{{> navbar}}    
    <h1>Vincent van Gogh</h1>
    <div>
        <h3>Un poco de su historia:</h3>
        <p>Vincent Willem van Gogh fue un pintor neerlandés, uno de los principales exponentes del postimpresionismo.​Pintó unos 900 cuadros y realizó más de 1600 dibujos. Una figura central en su vida fue su hermano menor Theo, marchante de arte en París, quien le prestó apoyo financiero de manera continua y desinteresada. 
            Fecha de nacimiento: 30 de marzo de 1853, Zundert, Países Bajos
            Fallecimiento: 29 de julio de 1890, Auvers-sur-Oise, Francia</p>
        <br>        
        <h3>Algunas de sus obras:</h3>        
        <br>
        <dt>La Noche Estrellada</dt>
        <img src="imagenes/estrellada.jpg" width="200" lang="400">
        <dt>Cypresses</dt>
        <img src="imagenes/cree.jpg" width="200" lang="400">
        <dt>Almendro en Flor</dt>
        <img src="imagenes/blossom.jpg" width="200" lang="400">
        <dt>Los Girasoles</dt>
        <img src="imagenes/girasol.jpg" width="200" lang="400">
        <dt>Congregación saliendo de la iglesia reformada en Nuenen</dt>
        <img src="imagenes/congre.jpg" width="200" lang="400">  
    </div>    
        <div>
{{> footer}}