{{> header}}
{{> navbar}}    
    <h3>Esta página te mostrara 4 pintores los cuales son los favoritos del creador</h3>
    <br>
    <h2>Pintores que podras encontrar en el "Menu de nevagacion de pintores"</h2>
    <br>
    <img src="imagenes/pintor.gif" width="500" lang="500">
    
{{> footer}}
