{{> header}}
{{> navbar}}    
        <h1>Leonardo da Vinci</h1>
      <div>
          <h3>Un poco de su historia:</h3>
        <p>fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto, paleontólogo, artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor, músico, poeta y urbanista.
            Frecuentemente descrito como un arquetipo y símbolo del hombre del Renacimiento, genio universal, además de filósofo humanista cuya curiosidad infinita solo puede ser equiparable a su capacidad inventiva, Leonardo da Vinci es considerado uno de los más grandes pintores de todos los tiempos y, probablemente, la persona con el mayor número de talentos en 
            múltiples disciplinas que jamás ha existido.</p>
        <br>        
        <h3>Algunas de sus obras:</h3>        
        <br>
        <dt>La Gioconda</dt>
        <img src="imagenes/monalisa.jpg" width="200" lang="400">
        <dt>La ultima Cena</dt>
        <img src="imagenes/cena.jpg" width="200" lang="400">
        <dt>Hombre de Vitruvio</dt>
        <img src="imagenes/hombre.jpg" width="200" lang="400">
        <dt>Autoretrato</dt>
        <img src="imagenes/autore.jpg" width="200" lang="400">
        <dt>Gatos y Dragones</dt>
        <img src="imagenes/gatos.jpg" width="200" lang="400"> 
      </div>
        <div>
{{> footer}}